<header>
  <br>
  <div class="container">
  <div class="notification is-dark">
  <nav class="level">
    <div class="level-item has-text-centered">
      <div>
        <p class="subtitle is-5">
          <%= link_to "Home", root_path%>
        </p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="subtitle is-5">
          <%= link_to 'Alphabetized', customers_alphabetized_path %>
        </p>
      </div>
    </div>
    <div class="level-item has-text-centered">
      <div>
        <p class="subtitle is-5">
          <%= link_to 'Missing Email', customers_missing_email_path %>
        </p>
      </div>
    </div>
  </nav>
  </div>
  </div>
</header>